<p>
  <b>Label:</b>
  <%=h @schedule.label %>
</p>

<p>
  <b>Position:</b>
  <%=h @schedule.position %>
</p>

<p>
  <b>Active:</b>
  <%=h @schedule.active %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
