%p
  * champs requis
%p
  %table
    %tr
      %td
        = f.label :firstname, 'Prénom *'
        %br
        = f.text_field :firstname
      %td
        = f.label :lastname, 'Nom *'
        %br
        = f.text_field :lastname
  %table
    %tr
      %td
        = f.label :email, 'Email'
        %br
        = f.text_field :email
      %td
        = f.label :telephone, 'Téléphone *'
        %br
        = f.text_field :telephone
%p
  %table
    %tr
      %td
        = f.label :street, 'Rue *'
        %br
        = f.text_field :street
      %td  
        = f.label :number, 'Numéro *'
        %br
        = f.text_field :number, :class => 'small_field'
%p
  %table
    %tr
      %td
        = f.label :postal_code, 'Code postal *'
        %br
        = f.text_field :postal_code, :class => 'small_field'
      %td  
        = f.label :location, 'Localité *'
        %br
        = f.text_field :location
%p
  = f.label :group_name, 'Nom du groupe'
  %br
  = f.text_field :group_name
%p
  = f.label :nb_adult, "Nombre d'adulte *"
  %br
  = f.text_field :nb_adult, :class => 'small_field'
  * 38EUR
%p
  = f.label :nb_child, "Nombre d'enfant *"
  %br
  = f.text_field :nb_child, :class => 'small_field'
  * 12EUR
%p
  = f.label :schedule_id, 'Horaire souhaité *'
  %ul
    = render :partial => 'schedule', :collection => @schedules, :locals => {:f => f}
%p
  = f.label :comment, 'Commentaires'
  %br
  = f.text_area :comment, :rows => 10, :cols => 60
%script
  $("new_reservation").focusFirstElement();