%tr
  %td
    = "#{reservation.lastname} - #{reservation.firstname}" 
  %td
    = reservation.group_name
  %td
    = reservation.updated_at
  %td
    = reservation.nb_adult
  %td
    = reservation.nb_child
  %td
    = reservation.schedule.label
  %td
    = truncate(reservation.comment, :length => 15)