<h1>Listing reservations</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Street</th>
    <th>Number</th>
    <th>Postal code</th>
    <th>Location</th>
    <th>Schedule</th>
    <th>Comment</th>
    <th>Group name</th>
  </tr>

<% for reservation in @reservations %>
  <tr>
    <td><%=h reservation.firstname %></td>
    <td><%=h reservation.lastname %></td>
    <td><%=h reservation.email %></td>
    <td><%=h reservation.street %></td>
    <td><%=h reservation.number %></td>
    <td><%=h reservation.postal_code %></td>
    <td><%=h reservation.location %></td>
    <td><%=h reservation.schedule_id %></td>
    <td><%=h reservation.comment %></td>
    <td><%=h reservation.group_name %></td>
    <td><%= link_to 'Show', reservation %></td>
    <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
    <td><%= link_to 'Destroy', reservation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New reservation', new_reservation_path %>
